*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: sans-serif;
    background: url(3.jpg);
    background-size: cover;
    background-position: center;
}
.card{
    height: 65vh;
    width: 40vw;
    border-radius: 25px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0),
                -4px -4px 4px #000;
    background-color: #091921;
    background: url(3.jpg);
}
input{
    color:black;
    font-weight: 800;
    border-radius: 10px;

    border: none;
    background-color:white;
    font-size: 30px;
    height: 45px;
    text-align: center;
    width: 450px;
    outline: none;
}
button{
    outline: none;
    width: 350px;
    background-color: #000;
    color: #fff;
    font-weight: 850;
    border: 2px solid red;
    box-shadow: 4px 4px 4px red,
                -4px -4px 8px red;
    font-size: 30px;
    height: 45px;
}
.result{
    font-size: 25px;
    color: white;
    font-weight: 850;
    margin: auto;
    height: 175px;
    margin-top: 35px;
    width: 450px;
    border-radius: 15px;
    background-color: #091921;
    background: url(3.jpg);
}


.done{
    font-size: 25px;
    color: white;
    font-weight: 850;
    margin: auto;
    height: 110px;
    margin-top: -100px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    border-radius: 15px;
    background-color: #091921;
    background: url(3.jpg);
}
